
.main {
  min-height: 80vh;
  min-width: 70vh;
}
 
 h1 {
   color: grey;
 }

 /*===== FONTS ======*/

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bellefair", serif;
}